target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
# IntelliJ IDEA project files
.idea/
*.iml

# Build output
/out/
target/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Maven/Gradle caches
/.gradle/
/mvnw
/mvnw.cmd
/.mvn/
